In [ ]:
# membuat variabel

x = 5
y = "John"
print(x)
print(y)

5
John

In [6]:
# nilai pada variabel

z = 10
z = "Joe"

z

'Joe'

In [7]:
# casting variabel

x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

3
3
3.0

In [11]:
# cek tipe data

x_1 = 5
y_1 = "John"

print(type(x_1))
print(type(Y-1))    # case sensitive

<class 'int'>

NameError: ignored

In [12]:
var_1 = 10
var_2 = 10

print(var_1, var_2)

10 10

In [14]:
# variable name
# aturan penamaan suatu variable


pengaturan_nama_variable = 10
print(pengaturan_nama_variable)

10